
.Button-label--small {
    padding: 4px 16px !important;
    height: 32px !important;
  }
  .Button-label--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  .Button-label--large {
    padding: 16px !important;
    height: 56px !important;
  }
  .Button-label--normal {
      padding: 8px 16px !important;
      height: 40px !important;
  }